<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/icon.png"/>
        <link rel="stylesheet" href="../static/style/style.css"/>
        <title>APOD</title>
    </head>
    <header>
      <img src="../static/images/nasa-banner.png" size:"auto" width="1500px" height="445px"><br><br><br>
    </header>
    <body>
      <div>
        <h1>Astronomy Picture of the Day</h1>
        <hr>
        <p id="text">Each day a different image or photograph of our fascinating universe is featured 
          along with a brief explanation written by a proffesional astronomer.</p>
      <a href="/random"><button id="btn" class="button">Get Your Random APOD</button></a>
      <a href="/list"><button id="btn3" class="button">Get a List of APOD</button></a>


      </div>
    </body>
</html>